pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('StartDate')",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('EndDate')   ",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationFile",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat('sourcefile',utcNow(),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceFile",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "cgmadfdemo",
							"type": "LinkedServiceReference"
						},
						"path": "processed"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@variables('StartDate')",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@variables('EndDate')",
							"type": "Expression"
						},
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"StartDate": {
				"type": "String",
				"defaultValue": "11/8/2022, 06:04:00 PM"
			},
			"EndDate": {
				"type": "String",
				"defaultValue": "11/8/2022, 06:04:59 PM"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T18:09:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}